// Sass Variables

$color-primary: #47a145;
$color-secondary: #0e2b3d;
$color-tertiary: #264050;
$color-body: #9b9b9b;
$color-dark: #222222;
$color-black: #000000;
$color-gray: #f9f9f9;
$color-white: #ffffff;

$font-heading: 'Barlow',
sans-serif;

$font-body: 'Roboto',
sans-serif;

$body-font-size: 15px;