.xis-saas-portfolio-section {
  padding: 140px 0px 125px;
}

.xis-saas-portfolio-top-content .xis-saas-section-title h2 {
  max-width: 570px;
}
.xis-saas-portfolio-top-content .xis-saas-portfolio-top-text {
  max-width: 520px;
}