@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?63mj1e');
  src:  url('../fonts/icomoon.eot?63mj1e#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?63mj1e') format('truetype'),
    url('../fonts/icomoon.woff?63mj1e') format('woff'),
    url('../fonts/icomoon.svg?63mj1e#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-at:before {
  content: "\e903";
}
.icon-brand:before {
  content: "\e900";
}
.icon-designer:before {
  content: "\e901";
}
.icon-dribble:before {
  content: "\e902";
}
